[Unit]
Description=UxPlay
Documentation=https://github.com/FDH2/UxPlay
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/uxplay
Restart=on-failure
User=uxplay

[Install]
WantedBy=multi-user.target
